# Auto detect text files and perform LF normalization
* text=auto
batch_spark/code/data/raw/yellow/2020/01/yellow_tripdata_2020_01.csv.gz filter=lfs diff=lfs merge=lfs -text
batch_spark/code/data/raw/yellow/2020/02/yellow_tripdata_2020_02.csv.gz filter=lfs diff=lfs merge=lfs -text
